<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <form action="/addDept" method="post">
         <label>第一级别<input type="text" name="first"></label><br/>
         <label>第二级别<input type="text" name="second"></label><br/>
         <label>第三级别<input type="text" name="third"></label><br/>
         <label>第四级别<input type="text" name="fourth"></label><br/>
         <input type="submit"  value="新建机构">
     </form>
     <form action="/updateDept" method="post">
         <label>第一级别<input type="text" name="first"></label><br/>
         <label>第二级别<input type="text" name="second"></label><br/>
         <label>第三级别<input type="text" name="third"></label><br/>
         <label>第四级别<input type="text" name="fourth"></label><br/>
         <input type="submit"  value="修改">
     </form>
</body>
</html>