<!--
  ~ author:huangping
  ~
  -->

<!--
  ~ author:huangping
  ~
  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <a href="/admin/ShowLogin">返回上一级</a>
     <a th:text="${msg}==null?'':${msg}"></a>
     <form action="/adminRequest/addDept" method="post">
         <label>第一级别<input type="text" name="first"></label><br/>
         <label>第二级别<input type="text" name="second"></label><br/>
         <label>第三级别<input type="text" name="third"></label><br/>
         <label>第四级别<input type="text" name="fourth"></label><br/>
         <input type="submit"  value="新建机构">
     </form>
</body>
</html>