<!--
  ~ author:huangping
  ~
  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>专家主页</title>
</head>
<body>
    <div>
        <a th:text="'您好！专家'+${user.name}" style="margin-left: 0"></a>
        <menu>
            <li><a href="/expertUser/showKnowledge">未审批知识浏览</a></li>
            <li><a href="/expertUser/showJudged">已审批知识浏览</a></li>
            <li><a href="/expertUser/showchangePass">修改密码</a></li>
        </menu>
    </div>
</body>
</html>