<!--
  ~ author:huangping
  ~
  -->

<!--
  ~ author:huangping
  ~
  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row clearfix" >
    <div class="col-md-12 column" >
        <h3 style="text-align: center;">已收藏知识如下：</h3>
        <table class="table table-bordered table-hover" align ="center">
            <thead>
            <tr>
                <th>
                    知识名
                </th>
                <th>
                    所属类型
                </th>
                <th>
                    贡献者
                </th>
                <th>
                操作
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="warning" th:each="know:${knows}">
                <td>

                    <a th:href="'/userRequest/showKnowledgeDetail?knowId='+${know.knowId}"
                       th:text="${know.title}"> know3</a>
                </td>
                <td th:text="${know.typeId.typecontent}">
                    money
                </td>
                <td th:text="${know.normalUser.name}">
                    Tom3
                </td>
                <td><a  th:href="'/userRequest/deleteFavorite?knowId='+${know.knowId}" >取消收藏</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>