<!--
  ~ author:huangping
  ~
  -->

<!--
  ~ author:huangping
  ~
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <select>
            <optgroup>
                <option>
                    hello
                </option>
                <option>
                    world
                </option>
            </optgroup>
            <option>
                fuck
            </option>
        </select>
    </div>
</body>
</html>