<!--
  ~ author:huangping
  ~
  -->

<!--
  ~ author:huangping
  ~
  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <table>
            <a href="/user/favorite">我的收藏</a><br/>
            <a href="/user/showMyKnowledge">我的知识</a>
            <tr>
                <td>用户名</td>
                <td>密码</td>
                <td>账号</td>
            </tr>
            <tr>
                <td th:text="${user.name}">用户名</td>
                <td th:text="${user.password}">密码</td>
                <td th:text="${user.account}">账号</td>
            </tr>
        </table>
    </div>

</body>
</html>