<!--
  ~ author:huangping
  ~
  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>用户查看自己的知识</title>
</head>
<body>


<div class="row clearfix" >
    <div class="col-md-12 column" >
        <h3 style="text-align: center;">我发布的知识如下：</h3>
        <table class="table table-bordered table-hover" align ="center">
            <thead>
            <tr>
                <th>
                    知识名
                </th>
                <th>
                    所属类型
                </th>
                <th>
                    状态
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="know:${res}">
                <td>
                    <a th:href="'/userRequest/showKnowledgeDetail?knowId='+${know.knowId}"
                       th:text="${know.title}">  know1 </a>
                </td>
                <td th:text="${know.typeId.typecontent}">
                    card
                </td>
                <td th:text="${know.status}">
                    可查看
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>